{% extends 'base.html.twig' %}
{% block body %}
	{% for onePost in tabpost %}
		<div class="col-md-6">
			{{ onePost['auteur'] }}
		</div>
		<div class="col-md-6">
			{{ onePost['date'].date }}
		</div>
		<div class="col-md-12">
			{{ onePost['content'] }}
		</div>
	{% endfor %}
{% endblock %}