html {
  height: 100%;
}

body {
  min-height: 100%;
}


/*==============index================*/
.jumbotron
{
	background-color: rgba(255, 255,255, 0.8);
	text-align: center;
	margin-top: 20%;
	border-radius: 100px !important; 
}
.accueil-fond {
 	height: 800px;
	background-image: url('../img/dosettes2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;	
} 


/*login_______________*/

.login {

	/*background-color: #ffa700;*/
	margin-top: 150px;
}
.login-form
{
	margin-top: 5px;
}

/*=====================================*/
.wcs img {
	width: 50%;
	margin: 0 auto;
}

.trait
{
	margin-top: 30px;
	height: 5px;
	background-color: #66CCCC;
}
/*==========register=============*/

.img img{

width: 50%;
margin-left: 20%;

}
/*===========accueil=============*/
.titre-fil-actu
{
	text-align:center;
	line-height: 0px;
}
.accueil-post
{
	margin-top:60px;
	background-color: #66CCCC;
	border-radius: 10px;
	color: black;
}
.post-infos a
{
	color: black;
	text-decoration: underline;
}
.post-infos a:hover
{
	color:blue;
}
.post-infos
{
	padding-top:10px;
	background-color: #65AED6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.post-content
{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
/*===========posts=============*/
.post-liste h2
{
	text-align: center;
	line-height: 10px;
}
.form-post
{
	margin:0 auto;
}
.input-text
{
	min-width: 100%;
	min-height: 100px;
}
.btn-post
{
	margin-left: 80%;
}
.infos-post
{
	margin-left:0px !important;
	margin-right:0px !important;
}
/*===========profil=============*/

.formulaire{
    margin-top: 100px;
	background-color: #66CCCC;
	width: 50%;
	margin-left: 25%;
	text-align: left;
	padding: 10px;
	border-radius: 10px;
}
.prof {
	background-color: #66CCCC;
	width: 50%;
	margin-left: 25%;
	text-align: left;
	padding: 10px;
	border-radius: 10px;
}

.register-but {
	/*background-color: orange;*/
	width: 100%
}

.identite {
	font-size: 150%;
	
}

.email {
	
	
}
.username h3 {
	margin-top:0px !important;
	margin-bottom:0px !important;
}


.bio {
	text-align: center;
	padding-top:5px;
	padding-bottom: 5px;
	background-color: white;
}
.btn-nouveau-post
{
	width: 100px;
	margin: 0 auto;
	margin-top: 12%;
}

 /*========base=========*/
 footer
 {
 	bottom:0px;
 	width: 100%;
 	position: fixed;
 	text-align: center;
 	background-color:#66CCCC;
 	color: black;
 }
